{% extends 'base.html.twig' %}

{% block body %}
<head>
		<div id="fh5co-main">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2><i class="icon-info"></i> About</h2>
						<div class="fh5co-spacer fh5co-spacer-sm"></div>
						<p> AutoPodróżnik jest serwisem łaczącym miłośników przygód z całego świata.
							Dołącz do nas, by odwiedzić wszystkie wspaniałe mejsca</p>
					</div>
				</div>
			</div>
		</div>
</head>


</table>


{% endblock %}
